# Discord Application Client Id
DISCORD_CLIENT_ID = 

# Discord Application Client Secret
DISCORD_CLIENT_SECRET = 

# Discord Oauth2 callback url
CALLBACK_URL = 

# Cookie Secret to sign and verify cookie
COOKIE_SECRET = 

# Database Url
DB_URI = 

# Name of the Database
DATABASE_NAME = 

# Application port to run
PORT = 8080

